<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Student</title>
    </head>
    <body>
        <h1>Edit Student</h1>
        <form method="POST" action="/students/update/<%= student._id %>">
            <lable for="name">Name:</lable>
            <input type="text" name="name" value="<%= student.name %>" placeholder="Ujjval" required>
            <br>
            <lable for="sem">Sem:</lable>
            <input type="number" name="sem" value="<%= student.sem %>" placeholder="7" required>
            <br>
            <lable for="email">Email:</lable>
            <input type="email" name="email" value="<%= student.email %>" placeholder="ujjvalpatel210@gmail.com" required>
            <br>
            <lable for="password">Password:</lable>
            <input type="password" name="password" value="<%= student.password %>" placeholder="Ujjval123" required>
            <br>
            <button type="submit">Update</button>
       </form>
       <br>
       <a href="/students/list/">Back to list</a>
    </body>
</html>